* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    text-align: center;
}

h1 {
    margin: 20px;
    color: white;
}

#subjectPage, #quizPage {
    background: white;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}

#subjectPage button {
    width: 100%;
    margin: 6px 0;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Start Button */
#startBtn {
    display: block;
    margin: 15px auto;
    width: 60%;
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Home Button */
#homeBtn {
    display: block;
    margin: 10px auto;
    width: 60%;
    padding: 10px;
    background: purple;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Options */
.optionBtn {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

#timer {
    color: red;
    font-weight: bold;
}

#score {
    margin-top: 10px;
    font-weight: bold;
}